<p>@ViewData["MENSAJE"]</p>
<form method="post">
    <label>Email</label>
    <input type="text" name="email"/>
    <label>Password</label>
    <input type="password" name="password"/>
    <button class="btn btn-primary" type="submit">Iniciar sesion</button>
</form>
